
.examples {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 25px;
    color: white;
  }
  
  .title {
    color: white;
    margin: 0;
    font: bold 32px 'Open Sans',sans-serif;
    margin-bottom: 32px;
    padding-bottom: 12px;
    border-bottom: 4px white solid;
    width: max-content; 
  }
  
  .examples h3 {
    margin-bottom: 48px;
  }
  
  .examples--card {
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    background-color: #9E0059;
    width: 100%;
    text-align: center;
    padding: 32px 16px;
    box-shadow: -9px 10px 43px 0px rgba(0,0,0,0.75);
  }
  
  .examples--carousel {
    display: flex;
    list-style: none;
  }
  
  .examples--list-item img {
    box-shadow: -9px 10px 43px 0px rgba(0,0,0,0.75);
    border-image: 10px black;
  }

  .examples--list-item p {
      text-align: left;
      max-width: 400px;
  }
  
  @media screen and (max-width: 720px) {
    .examples--carousel {
      flex-direction: column;
    }
  }
