.museum {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 25px;
    color: white;
}

.header {
    text-align: center;
    color:black solid 10px;
}

.museum-image {
    box-shadow: -9px 10px 43px 0px rgba(0,0,0,0.75);
    border-image: 10px black;
}
